<div class="modal fade show d-block" *ngIf="config" style="background: rgba(0,0,0,0.5);" (click)="onBackdropClick($event)">
  <div class="modal-dialog modal-dialog-centered"
        [ngClass]="{
            'modal-sm': config.dimensione === 'sm',
            'modal-lg': config.dimensione === 'lg' || config.dimensione === 'xl',
            'modal-xl': config.dimensione === 'xl',
            'modal-xxl': config.dimensione === 'xxl'
          }"
        (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <h5 class="modal-title m-0">{{ config.titolo }}</h5>
        <button
          *ngIf="config.showCloseButton !== false"
          type="button"
          class="button-close"
          (click)="chiudi()"
          aria-label="Chiudi"
        ><i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <ng-template #dynamicTarget></ng-template>
      </div>
      <div class="modal-footer justify-content-center">
        <!-- Custom buttons if provided -->
        <ng-container *ngIf="config.customButtons && config.customButtons.length > 0">
          <button 
            *ngFor="let button of config.customButtons"
            [class]="'btn btn-sm me-2 ' + button.cssClass"
            (click)="button.action()"
            [disabled]="button.disabled"
          >
            <span *ngIf="button.loading" class="spinner-border spinner-border-sm me-1"></span>
            {{ button.text }}
          </button>
        </ng-container>

        <!-- Default buttons if no custom buttons or showDefaultButtons is true -->
        <ng-container *ngIf="(!config.customButtons || config.customButtons.length === 0 || config.showDefaultButtons !== false)">
          <button class="btn btn-secondary btn-sm" (click)="chiudi()">Chiudi</button>
          <button
            *ngIf="config.onConferma"
            class="btn btn-primary btn-sm ms-2"
            (click)="conferma()"
          >
            Conferma
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>