<!-- Modal Content -->
<div class="modal-content">
  
  <!-- Modal Header -->
  <div class="modal-header">
    <h5 class="modal-title">
      <i class="fas fa-user me-2"></i>
      {{ (dati?.nome && dati?.cognome) ? (dati?.nome + ' ' + dati?.cognome) : dati?.username }}
    </h5>
  </div>

  <!-- Modal Body -->
  <div class="modal-body">
    <div class="detail-content">
      <div class="detail-section">
        <div class="detail-field">
          <div class="detail-field-label">
            <i class="fa fa-id-card"></i>
            <span>Codice Fiscale</span>
          </div>
          <div class="detail-field-value">{{ dati?.codiceFiscale || '–' }}</div>
        </div>
        
        <div class="detail-field">
          <div class="detail-field-label">
            <i class="fa fa-file-medical"></i>
            <span>Certificato Medico</span>
          </div>
          <div class="detail-field-value">{{ dati?.certificatoMedico || '–' }}</div>
        </div>
        
        <div class="detail-field">
          <div class="detail-field-label">
            <i class="fa fa-heartbeat"></i>
            <span>Patologie</span>
          </div>
          <div class="detail-field-value">{{ dati?.patologie ? 'Si' : 'No' }}</div>
        </div>
        
        <div class="detail-field">
          <div class="detail-field-label">
            <i class="fa fa-notes-medical"></i>
            <span>Descrizione Patologie</span>
          </div>
          <div class="detail-field-value">{{ dati?.descrizionePatologie || '–' }}</div>
        </div>
        
        <div class="detail-field">
          <div class="detail-field-label">
            <i class="fa fa-bullseye"></i>
            <span>Obiettivi</span>
          </div>
          <div class="detail-field-value">{{ dati?.obiettivi || '–' }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
