<div class="container-fluid d-flex flex-column justify-content-start custom-container">
  <div class="row">
    <div class="col-12 d-flex justify-content-start align-items-start mt-5 ms-5">
      <img src="/assets/images/elle-studio-logo.png" alt="Logo Elle Studio Pilates"
        style="max-width: 200px; height: auto;">
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-start mt-5">
      <div class="stepwizard col-md-offset-3">
        <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step">
            <span class="step-label">Dettagli profilo</span>
            <a href="#step-1" type="button" class="btn btn-circle current"></a>
          </div>
          <div class="stepwizard-step">
            <span class="step-label">Certificato medico</span>
            <a href="#step-2" type="button" class="btn btn-circle completed"></a>
          </div>
          <div class="stepwizard-step">
            <span class="step-label">Email & Password</span>
            <a href="#step-3" type="button" class="btn btn-circle" disabled></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>